<!-- restaurantID/menu/id/edit -->
<html>
  <body>
    <div>
      <h3>Edit Menu Item Page</h3>
      <form target="{{url_for('editMenuItem', restaurantID = restaurant.id, itemID =item.id)}}" method='POST'>
        <input type=text name = newName value = '{{item.name}}' />
        </br>
        <input type=text name = newPrice value = '{{item.price}}' />
        </br>
        <input type=text name = newDesc value = '{{item.description}}' />
        </br>
        <input type=submit value='Submit' />
        <a href = "{{url_for('showMenu', restaurantID = restaurant.id)}}">Cancel</a>
        </form>
    </div>
  </body>
</html>
