<!-- restaurantname/menu/id/edit -->
<html>
  <body>
    <div>
      <h3>Edit Menu Item Page</h3>
      <form target='' method='POST'>
        <input type=text name = newName value = '{{item.name}}' />
        </br>
        <input type=text name = newDesc value = '{{item.price}}' />
        </br>
        <input type=text name = newDesc value = '{{item.description}}' />
        </br>
        <input type=submit value='Submit' />
        <a href = "{{url_for('showMenu', restaurantName = restaurant.name)}}">Cancel</a>
        </form>
    </div>
  </body>
</html>
