<!-- restaurantID/edit -->
<html>
  <body>
    <div>
      <h3>Edit Restaurant Info Page</h3>
      <form action="{{url_for('editRestaurant', restaurantID = restaurant.id)}}" method='POST'>
        <input type=text name = newName value = "{{restaurant.name}}" />
        </br>
        <input type=text name = newDesc value = "{{restaurant.description}}" />
        </br>
        <input type=text name = newPic value = "{{restaurant.image}}" />
        </br>
        <input type=submit value='Submit' />
        <a href = "{{url_for('showMenu', restaurantID = restaurant.id)}}">Cancel</a>
        </form>
    </div>
  </body>
</html>
