<!-- URL: restaurantname/menu -->
<html>
  <body>
    <div>
      <h1>{{restaurant.name}}</h1>
      <a href="{{ url_for('editRestaurant',restaurantName = restaurant.name) }}">Edit Info</a>
      <a href='{{ url_for('deleteRestaurant',restaurantName = restaurant.name)}}'>Delete Restaurant</a>
      </br>

      {% for i in items %}

      <p>
        {{i.name}} ... <span>{{i.price}}</span>
      </p>
      <p>{{i.description}}
        <a href="{{url_for('editMenuItem', restaurantName = restaurant.name, itemID =i.id)}}">edit</a>
        <a href="{{url_for('deleteMenuItem', restaurantName = restaurant.name, itemID =i.id)}}">delete</a>
      </p>
      </br>

      {% endfor %}

      <a href="{{url_for('addMenuItem', restaurantName = restaurant.name)}}">Add New Item</a>
      </br>
      </br>
      <a href="{{url_for('home')}}">Back to Restaurant List</a>
    </div>
  </body>
</html>
