<!-- URL: restaurantname/menu -->
<html>
  <body>
    <div>
      <h1>Restaurant Name</h1>
      <a href=''>Edit Info. restaurantname/edit</a>
      <a href=''>Delete Restaurant. restaurantname/delete</a>
      </br>
      <p>Item Name ... <span>Price</span></p>
      <p>
        restaurant description. <a href=''>edit. restaurantname/menu/id/edit</a> <a href=''>delete</a>
      </p>
      </br>
      <p>Item Name ... <span>Price</span></p>
      <p>
        restaurant description. <a href=''>edit</a> <a href=''>delete. restaurantname/menu/id/delete</a>
      </p>
      </br>
      <p>Item Name ... <span>Price</span></p>
      <p>
        restaurant description. <a href=''>edit</a> <a href=''>delete</a>
      </p>
      </br>
      <a href=''>Add New Item. restaurantname/menu/addnewitem</a>
    </div>
  </body>
</html>
