<!-- URL: restaurantID/menu -->
<html>
  <body>
    <div>
      <h1>{{restaurant.name}}</h1>
      <p>
        {{restaurant.description}}
      </p>
    </br>
    <h2>Menu Items</h2>

      {% for i in items %}

      <p>
        {{i.name}} ... <span>{{i.price}}</span>
      </p>
      <p>{{i.description}}
        <a href="{{url_for('editMenuItem', restaurantID = restaurant.id, itemID =i.id)}}">edit</a>
        <a href="{{url_for('deleteMenuItem', restaurantID = restaurant.id, itemID =i.id)}}">delete</a>
      </p>
      </br>

      {% endfor %}

      <a href="{{url_for('addMenuItem', restaurantID = restaurant.id)}}">Add New Item</a>
      </br>
      </br>
      <a href="{{url_for('home')}}">Back to Restaurant List</a>
    </div>
  </body>
</html>
