<!-- restaurantname/menu/addnewitem -->
<html>
  <body>
    <div>
      <h3>Add new menu item page</h3>
      <form target='' method='POST'>
        <input type=text name = newName value = 'New Item Name' />
        </br>
        <input type=text name = newDesc value = 'New Item Description' />
        </br>
        <input type=text name = newDesc value = 'New Item Price' />
        </br>
        <input type=submit value='Submit' />
        <a href = "{{url_for('showMenu', restaurantName = restaurant.name)}}">Cancel</a>
        </form>
    </div>
  </body>
</html>
