<!-- restaurantname/menu/addnewitem -->
<html>
  <body>
    <div>
      <h3>Add new menu item page</h3>
      <form target='' method='POST'>
        <input type=text name = newName value = 'Item Name' />
        </br>
        <input type=text name = newDesc value = 'Item Description' />
        </br>
        <input type=text name = newDesc value = 'Item Price' />
        </br>
        <input type=submit value='Submit' />
        <a href = ''>Cancel. restaurantname/menu</a>
        </form>
    </div>
  </body>
</html>
