<html>
  <body>
    <h1>New Item</h1>
    <form action="{{url_for('addItem')}}" method="POST">
      <p>
        Name:
      </p>
        <input name="name" type="text" placeholder='name' required/>
      <p>
        Description:
      </p>
        <input name="description" type="text" placeholder="Description"/>
      <p>
        Amount:
      </p>
        <input name="amount" type="text" placeholder="Amount"/>
      <p>
        Weight:
      </p>
        <input name="weight" type="text" placeholder="Weight" required/>
      <p>
        Volume:
      </p>
        <input name="volume" type="text" placeholder="Volume" required/> <input type = "checkbox" />Inside another
      <p>
        Subcategory:
      </p>
        <input name="category" type="text" placeholder="Category"/>
      <p>
        <input type="submit" value="Add"/>
      </p>
    </form>
    <a href="{{url_for('showGear')}}"><button type="button">Cancel</button></a>
    </body>
</html>
