<html>
<head>
  <!-- <link rel = "stylesheet" href = "/static/style.css"/> -->
</head>
  <body style="text-transform:capitalize">
    <div>
      <h1 style="display:inline-block">All packs</h1>
      {%if loggedIn%}
      <a href="{{url_for('gdisconnect')}}">Log Out</a>
      {%else%}
      <a href="{{url_for('login')}}">Log In</a>
      {%endif%}
    </div>
    {%for user in users%}
    <div>
      <a href = "{{url_for('showPack', userID=user.id)}}">{{user.name}}'s {{user.pack_name}}</a>
      </div>
    {%endfor%}
    </body>
</html>
