<html>
<head>
  <link rel = stylesheet type =text/css href = "../static/styles/styles.css" />
  </head>
  <body>
    <h1>{{item.name}}</h1>
    <table>
      <tr>
        <td>Name</td>
        <td>{{item.name}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{item.description}}</td>
      </tr>
      <tr>
        <td>Amount</td>
        <td>{{item.amount}}</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>{{item.weight}} Oz</td>
      </tr>
      <tr>
        <td>Volume</td>
        <td>{{item.volume}} L</td>
      </tr>
      <tr>
        <td>Category</td>
        <td>{{item.category}}</td>
      </tr>
    </table>
    <a href="{{url_for('showPack', userID = item.user_id)}}"><button type="button">Back To Pack</button></a>
    </body>
</html>
