<html>
  <body>
    <h1>Item Name</h1>
    <form action="">
      <p>
        Name:
      </p><input type="text" value="Item Name"/>
      <p>
        Description:
      </p><input type="text" value="Description"/>
      <p>
        Amount:
      </p><input type="text" value="Amount"/>
      <p>
        Weight: 
      </p><input type="text" value="Weight"/>
      <p>
        Volume:
      </p><input type="text" value="Volume"/> <input type = "checkbox" />Inside another
      <p>
        Subcategory:
      </p><input type="text" value="Subcategory"/>
    </form>
    <button>DELETE</button>
    </body>
</html>
