<!-- Working on styling so everything looks a little nicer -->
<html>
<head>
  <!-- <link rel = "stylesheet" href = "/static/style.css"/> -->
</head>
  <body style="text-transform:capitalize">
    <div>
      <h1 style="display:inline-block">My Gear</h1>
      <a href="{{url_for('gdisconnect')}}">Log Out</a>
    </div>
    {%if data.catDict%}
    <table>
      <tr>
        <th> Weight </th>
        <th> Volume </th>
      </tr>
      <tr>
        <td>{{data.totalWeight//16}} lb {{data.totalWeight%16}} oz</td>
        <td>{{data['totalVolume']}} L</td>
      </tr>
      </th>
    </table>
    <!-- <div style="display:inline-block">{{data.totalWeight//16}} lb {{data.totalWeight%16}} oz</div>
    <div style="display:inline-block">{{data['totalVolume']}} L</div> -->
    <br/>
    <form action="{{url_for('showGear')}}" method="POST">
    {%for i in data.catDict.keys()%}
    <h2>
      {{i}}
    </h2>
    <table>
      <!-- <tr>
        <td>
          {{data.items}}
        </td>
      </tr> -->
      {%for j in data.catDict[i]%}
      <tr>
        <td>
          <input type="checkbox" name="{{j.id}}" {%if j.packed%}checked{%endif%}/>
        </td>
        <td>
          <a href="{{url_for('editItem', itemID=j.id)}}">{{j.name}}</a>
        </td>
        <td>{{j.weight}} oz</td>
        <td>{{j.volume}} L</td>
      </tr>
      {%endfor%}
    </table>
    {%endfor%}
    <br/>
    <a href="{{url_for('addItem')}}"><button type="button">Add Item</button></a>
    <input type="submit" value="View Pack" />
  </form>
  {%else%}
  <a href="{{url_for('addItem')}}"><button>Add Item</button></a>
  {%endif%}
    <!-- <ul style="list-style-type:none">
    {%for i in items%}
    <li><input type="checkbox">{{i.name}}...lbs...L</li>
    {%endfor%}
    </ul> -->
    <br/>
    <!-- <a href="{{url_for('showPack')}}" type=button>View Pack</a> -->
    </body>
</html>
