<html>
  <body>
    <h1>My Gear</h1>
    <div>{{data.totalWeight//16}} lb {{data.totalWeight%16}} oz</div>
    <div>{{data['totalVolume']}} L</div>
    <br/>
    <form action="{{url_for('showGear')}}" method="POST">
    {%for i in data.catDict.keys()%}
    <h2>
      {{i}}
    </h2>
    <table>
      <!-- <tr>
        <td>
          {{data.items}}
        </td>
      </tr> -->
      {%for j in data.catDict[i]%}
      <tr>
        <td>
          <input type="checkbox" name="{{j.id}}" {%if j.packed%}checked{%endif%}/>
        </td>
        <td>
          <a href="{{url_for('editItem', itemID=j.id)}}">{{j.name}}</a>
        </td>
        <td>{{j.weight}} oz</td>
        <td>{{j.volume}} L</td>
      </tr>
      {%endfor%}
    </table>
    {%endfor%}
    <a href="{{url_for('addItem')}}" type=button>+ item</a>
    <br/>
    <input type="submit" value="View Pack" />
  </form>
    <!-- <ul style="list-style-type:none">
    {%for i in items%}
    <li><input type="checkbox">{{i.name}}...lbs...L</li>
    {%endfor%}
    </ul> -->
    <br/>
    <!-- <a href="{{url_for('showPack')}}" type=button>View Pack</a> -->
    </body>
</html>
