<html>
  <body>
    <span>
      <h1>My Pack</h1>
      <a>Edit</a>
    </span>
    <div>{{data.totalWeight}} oz</div>
    <div>{{data.totalVolume}} L</div>
    {%for i in data.catDict.keys()%}
    <h2>{{i}}</h2>
    <table>
      <tr>
        {%for j in data.catDict[i]%}
        <td>{{j.name}}</td>
        <td>{{j.weight}} oz</td>
        <td>{{j.volume}} L</td>
        {%endfor%}
      </tr>
    </table>
    {%endfor%}

      <!-- <ul style="list-style-type:none">
      <li>
        <a>knife</a>
        <a>__lb</a>
        <a>__L</a>
        <a>remove</a>
      </li>
      <li>
        <a>paracord</a>
        <a>__lb</a>
        <a>__L</a>
        <a>remove</a>
      </li>
    </ul> -->
    </body>
</html>
