<html>
  <body>
    <span>
      <h1>My Pack</h1>
    </span>
    {%if data.loggedUser%}
    <a href = "{{url_for('showGear', userID = data.userID)}}"><button>Edit Pack</button></a>
    {%endif%}
    {%if data.catDict%}
    <div>{{data.totalWeight//16}} lb {{data.totalWeight%16}} oz</div>
    <div>{{data.totalVolume}} L</div>
    {%for i in data.catDict.keys()%}
    <h2>{{i}}</h2>
    <table>
      {%for j in data.catDict[i]%}
      <tr>
        <td><a href = "{{url_for('showItem', itemID = j.id, userID=data.userID)}}">{{j.name}}</a></td>
        <td>{{j.weight}} oz</td>
        <td>{{j.volume}} L</td>
        {%endfor%}
      </tr>
    </table>
    {%endfor%}

      <!-- <ul style="list-style-type:none">
      <li>
        <a>knife</a>
        <a>__lb</a>
        <a>__L</a>
        <a>remove</a>
      </li>
      <li>
        <a>paracord</a>
        <a>__lb</a>
        <a>__L</a>
        <a>remove</a>
      </li>
    </ul> -->
    {%else%}
    <p>
      No items currently in your pack
    </p>
    {%endif%}
    <br/>
    <a href="{{url_for('home')}}"><button>Back To All Packs</button></a>
    </body>
</html>
