<!-- <html>
  <body>
    <h1>Welcome</h1>
    <button>Log In</button>
    <button>Create Account</button>
    </body>
</html> -->

<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <!-- <meta name="google-signin-response_type" content="code"> -->
    <meta name="google-signin-client_id" content="509977219666-6kqe23mopai4ed58vn5nliancmundcmj.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <div id = "result">no</div>
    <script>
      function onSignIn(authResult) {
        // Useful data for your client-side scripts:
        console.log(authResult)
        // console.log('did it work', authResult['code'])
        console.log("code", authResult['Zi']['access_token'])
        console.log("token_id", authResult['Zi']['id_token'])
        // var profile = googleUser.getBasicProfile();
        // console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        // console.log('Full Name: ' + profile.getName());
        // console.log('Given Name: ' + profile.getGivenName());
        // console.log('Family Name: ' + profile.getFamilyName());
        // console.log("Image URL: " + profile.getImageUrl());
        // console.log("Email: " + profile.getEmail());
        //
        // // The ID token you need to pass to your backend:
        // var id_token = googleUser.getAuthResponse().id_token;
        // console.log("ID Token: " + id_token);

        $.ajax({
          type:'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          data: authResult['Zi']['access_token'], //[authResult['Zi']['access_token'], authResult['Zi']['id_token']],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            console.log(result)
            $('#result').html('hello')
            // setTimeout(function(){
            //   window.location.href = '/mygear'
            // },3000)
          },
          error: function(error) {
            console.log("failed", error)
          }
          })
        }
    </script>
  </body>
</html>
