<!-- <html>
  <body>
    <h1>Welcome</h1>
    <button>Log In</button>
    <button>Create Account</button>
    </body>
</html> -->

<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <!-- <meta name="google-signin-response_type" content="code"> -->
    <meta name="google-signin-client_id" content="509977219666-6kqe23mopai4ed58vn5nliancmundcmj.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>
    function start() {
      gapi.load('auth2', function() {
        auth2 = gapi.auth2.init({
          client_id: '509977219666-6kqe23mopai4ed58vn5nliancmundcmj.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email'
          //scope: 'additional_scope'
        });
      });
    }
  </script>
  </head>
  <body>
    <div>
      <button id="signinButton">Sign in with Google</button>
      <script>
        $('#signinButton').click(function() {
          // signInCallback defined in step 6.
          auth2.grantOfflineAccess().then(signInCallback);
        });
      </script>
    </div>
    <div id = "result">no</div>
    <script>
      function signInCallback(authResult) {
        // Useful data for your client-side scripts:
        console.log(authResult.code)

        $.ajax({
          type:'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          // data: authResult['Zi']['access_token'], //[authResult['Zi']['access_token'], authResult['Zi']['id_token']],
          data: authResult.code,
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            console.log(result)
            $('#result').html(result)
            setTimeout(function(){         //<---commented out so code doesn't navigate away from login page while TS
              window.location.href = '/mygear'
            },3000)
          },
          error: function(error) {
            console.log("failed", error)
          }
          })
        }
    </script>
  </body>
</html>
